# 1. Creating Dataframe from list and dictionary

In [2]:
import pandas as pd

In [3]:
data_list = [
    [1, 'Alice', 25, 'Engineer'],
    [2, 'Bob', 30, 'Doctor'],
    [3, 'Charlie', 35, 'Teacher'],
    [4, 'David', 28, 'Designer']
]

In [4]:
data_dict = {
    'ID': [101, 102, 103, 104],
    'Name': ['John', 'Emma', 'Liam', 'Sophia'],
    'Age': [22, 34, 27, 40],
    'Occupation': ['Artist', 'Scientist', 'Writer', 'Chef']
}

In [5]:
df1 = pd.DataFrame(data_list)
df2 = pd.DataFrame(data_dict)

In [6]:
df1.rename(columns={0:'ID', 1:'Name', 2: 'Age', 3: 'Occupation'}, inplace=True)

In [7]:
df1.set_index('ID', inplace=True)
df2.set_index('ID', inplace=True)

In [8]:
df1

       Name  Age Occupation
ID
1     Alice   25   Engineer
2       Bob   30     Doctor
3   Charlie   35    Teacher
4     David   28   Designer

In [9]:
df2

       Name  Age Occupation
ID
101    John   22     Artist
102    Emma   34  Scientist
103    Liam   27     Writer
104  Sophia   40       Chef

# 2. Reading data from a file

In [11]:
csv_data = pd.read_csv('../../../sample_data/world_data.csv')

In [12]:
json_data = pd.read_json('../../../sample_data/contacts.json')

In [13]:
csv_data.set_index('id', inplace=True)
json_data.set_index('id', inplace=True)

In [14]:
csv_data.head(3)

,Rank,CCA3,Country/Territory,Capital,Continent,2022Population,2020Population,2015Population,2010Population,2000Population,1990Population,1980Population,1970Population,Area,Density,GrowthRate,WorldPopulationPercentage
id,,,,,,,,,,,,,,,,,
1,36,AFG,Afghanistan,Kabul,Asia,41128771,38972230,33753499,28189672,19542982,10694796,12486631,10752971,652230,63.0587,1.0257,0.52
2,138,ALB,Albania,Tirana,Europe,2842321,2866849,2882481,2913399,3182021,3295066,2941651,2324731,28748,98.8702,0.9957,0.04
3,34,DZA,Algeria,Algiers,Africa,44903225,43451666,39543154,35856344,30774621,25518074,18739378,13795915,2381741,18.8531,1.0164,0.56

In [15]:
json_data.tail(6)

,first_name,last_name,email,phone,address,date_of_birth
id,,,,,,
11,Andrew,Thomas,andrew.thomas@example.com,+1-555-555-0110,"808 Fir St, Springfield, IL, 62711",1980-07-18
12,Olivia,Jackson,olivia.jackson@example.com,+1-555-555-0111,"909 Ash St, Springfield, IL, 62712",1993-11-30
13,David,White,david.white@example.com,+1-555-555-0112,"1010 Hickory St, Springfield, IL, 62713",1986-04-22
14,Sophia,Harris,sophia.harris@example.com,+1-555-555-0113,"1111 Poplar St, Springfield, IL, 62714",1997-06-25
15,James,Martin,james.martin@example.com,+1-555-555-0114,"1212 Dogwood St, Springfield, IL, 62715",1981-08-14
16,Mia,Thompson,mia.thompson@example.com,+1-555-555-0115,"1313 Redwood St, Springfield, IL, 62716",1988-12-18

# Showing informations about the dataframe

In [17]:
csv_data.dtypes

Rank                           int64
CCA3                          object
Country/Territory             object
Capital                       object
Continent                     object
2022Population                 int64
2020Population                 int64
2015Population                 int64
2010Population                 int64
2000Population                 int64
1990Population                 int64
1980Population                 int64
1970Population                 int64
Area                           int64
Density                      float64
GrowthRate                   float64
WorldPopulationPercentage    float64
dtype: object

In [18]:
csv_data.isnull().sum()

Rank                         0
CCA3                         0
Country/Territory            0
Capital                      0
Continent                    0
2022Population               0
2020Population               0
2015Population               0
2010Population               0
2000Population               0
1990Population               0
1980Population               0
1970Population               0
Area                         0
Density                      0
GrowthRate                   0
WorldPopulationPercentage    0
dtype: int64

# Filtering columns

In [20]:
filt_asia = csv_data['Continent'] == 'Asia'
csv_data[filt_asia]

,Rank,CCA3,Country/Territory,Capital,Continent,2022Population,2020Population,2015Population,2010Population,2000Population,1990Population,1980Population,1970Population,Area,Density,GrowthRate,WorldPopulationPercentage
id,,,,,,,,,,,,,,,,,
1,36,AFG,Afghanistan,Kabul,Asia,41128771,38972230,33753499,28189672,19542982,10694796,12486631,10752971,652230,63.0587,1.0257,0.52
10,140,ARM,Armenia,Yerevan,Asia,2780469,2805608,2878595,2946293,3168523,3556539,3135123,2534377,29743,93.4831,0.9962,0.03
14,91,AZE,Azerbaijan,Baku,Asia,10358074,10284951,9863480,9237202,8190337,7427836,6383060,5425317,86600,119.6082,1.0044,0.13
16,154,BHR,Bahrain,Manama,Asia,1472233,1477469,1362142,1213645,711442,517418,362595,222555,765,1924.4876,1.0061,0.02
17,8,BGD,Bangladesh,Dhaka,Asia,171186372,167420951,157830000,148391139,129193327,107147651,83929765,67541860,147570,1160.0350,1.0108,2.15
24,165,BTN,Bhutan,Thimphu,Asia,782455,772506,743274,705516,587207,558442,415257,298894,38394,20.3796,1.0064,0.01
30,175,BRN,Brunei,Bandar Seri Begawan,Asia,449002,441725,421437,396053,333926,261928,187921,133343,5765,77.8841,1.0081,0.01
34,73,KHM,Cambodia,Phnom Penh,Asia,16767842,16396860,15417523,14363532,12118841,8910808,6198959,6708525,181035,92.6221,1.0108,0.21
42,1,CHN,China,Beijing,Asia,1425887337,1424929781,1393715448,1348191368,1264099069,1153704252,982372466,822534450,9706961,146.8933,1.0000,17.88
74,131,GEO,Georgia,Tbilisi,Asia,3744385,3765912,3771132,3836831,4265172,5391636,5145843,4800426,69700,53.7214,0.9964,0.05
90,104,HKG,Hong Kong,Hong Kong,Asia,7488865,7500958,7399838,7132438,6731195,5838574,4978544,3955072,1104,6783.3922,0.9992,0.09
93,2,IND,India,New Delhi,Asia,1417173173,1396387127,1322866505,1240613620,1059633675,870452165,696828385,557501301,3287590,431.0675,1.0068,17.77
94,4,IDN,Indonesia,Jakarta,Asia,275501339,271857970,259091970,244016173,214072421,182159874,148177096,115228394,1904569,144.6529,1.0064,3.45
95,17,IRN,Iran,Tehran,Asia,88550570,87290193,81790841,75373855,65544383,55793629,38520664,28449705,1648195,53.7258,1.0071,1.11
96,35,IRQ,Iraq,Baghdad,Asia,44496122,42556984,37757813,31264875,24628858,17658381,13653369,9811347,438317,101.5158,1.0221,0.56
99,98,ISR,Israel,Jerusalem,Asia,9038309,8757489,8007778,7328445,6116958,4803254,3744608,2907307,20770,435.1617,1.0155,0.11
103,11,JPN,Japan,Tokyo,Asia,123951692,125244761,127250933,128105431,126803861,123686321,117624196,105416839,377930,327.9753,0.9947,1.55
105,83,JOR,Jordan,Amman,Asia,11285869,10928721,9494246,6931258,5056174,3480587,2216903,1557374,89342,126.3221,1.0123,0.14
106,66,KAZ,Kazakhstan,Nursultan,Asia,19397998,18979243,17835909,16627837,15236253,16866563,14172710,12265305,2724900,7.1188,1.0105,0.24
109,129,KWT,Kuwait,Kuwait City,Asia,4268873,4360444,3908743,2943356,1934901,1674938,1493870,802786,17818,239.5821,1.0044,0.05
110,110,KGZ,Kyrgyzstan,Bishkek,Asia,6630623,6424874,5914980,5483774,4935182,4394734,3691209,3016384,199951,33.1612,1.0158,0.08
111,103,LAO,Laos,Vientiane,Asia,7529475,7319399,6787419,6323418,5430853,4314443,3297519,2675283,236800,31.7968,1.0141,0.09
113,119,LBN,Lebanon,Beirut,Asia,5489739,5662923,6398940,4995800,4320642,3593700,2963702,2381791,10452,525.2334,0.9816,0.07
120,167,MAC,Macau,Concelho de Macau,Asia,695168,676283,615239,557297,431896,350227,245332,247284,30,23172.2667,1.0125,0.01
123,45,MYS,Malaysia,Kuala Lumpur,Asia,33938221,33199993,31068833,28717731,22945150,17517054,13215707,10306508,330803,102.5934,1.0109,0.43
124,174,MDV,Maldives,Mal√©,Asia,523787,514438,435582,361575,282507,224957,164887,123243,300,1745.9567,1.0045,0.01
136,134,MNG,Mongolia,Ulaanbaatar,Asia,3398366,3294335,2964749,2702520,2450979,2161433,1697780,1293880,1564110,2.1727,1.0151,0.04
141,26,MMR,Myanmar,Nay Pyi Taw,Asia,54179306,53423198,51483949,49390988,45538332,40099553,33465781,27284112,676578,80.0784,1.0071,0.68
144,49,NPL,Nepal,Kathmandu,Asia,30547580,29348627,27610325,27161567,24559500,19616530,15600442,12501285,147181,207.5511,1.0171,0.38
152,56,PRK,North Korea,Pyongyang,Asia,26069416,25867467,25258015,24686435,23367059,20799523,17973650,14996879,120538,216.2755,1.0038,0.33
156,127,OMN,Oman,Muscat,Asia,4576298,4543399,4191776,2881914,2344253,1804524,1017462,670693,309500,14.7861,1.0123,0.06
157,5,PAK,Pakistan,Islamabad,Asia,235824862,227196741,210969298,194454498,154369924,115414069,80624057,59290872,881912,267.4018,1.0191,2.96
159,122,PSE,Palestine,Ramallah,Asia,5250072,5019401,4484614,3992278,3139954,2124609,1453620,1118241,6220,844.0630,1.0227,0.07
164,13,PHL,Philippines,Manila,Asia,115559009,112190977,103031365,94636700,77958223,61558898,48419546,37435586,342353,337.5434,1.0147,1.45
168,143,QAT,Qatar,Doha,Asia,2695122,2760385,2414573,1713504,645937,441675,277450,118007,11586,232.6189,1.0026,0.03
183,41,SAU,Saudi Arabia,Riyadh,Asia,36408820,35997107,32749848,29411929,21547390,16004763,10171710,6106191,2149690,16.9368,1.0128,0.46
188,113,SGP,Singapore,Singapore,Asia,5975689,5909869,5650018,5163590,4053602,3022209,2400729,2061831,710,8416.4634,1.0058,0.07
195,29,KOR,South Korea,Seoul,Asia,51815810,51844690,50994401,48813042,46788591,44120039,38170501,32601143,100210,517.0722,0.9997,0.65
198,61,LKA,Sri Lanka,Colombo,Asia,21832143,21715079,21336697,20668557,18776371,17204094,14943645,12388769,65610,332.7563,1.0027,0.27
203,60,SYR,Syria,Damascus,Asia,22125249,20772595,19205178,22337563,16307654,12408996,8898954,6319199,185180,119.4797,1.0376,0.28
204,57,TWN,Taiwan,Taipei,Asia,23893394,23821464,23512136,23083083,22194731,20586174,18100281,14957870,36193,660.1662,1.0014,0.30
205,95,TJK,Tajikistan,Dushanbe,Asia,9952787,9543207,8524063,7621779,6272998,5417860,4045965,2993019,143100,69.5513,1.0208,0.12
207,20,THA,Thailand,Bangkok,Asia,71697030,71475664,70294397,68270489,63066603,55228410,45737753,35791728,513120,139.7276,1.0013,0.90
208,155,TLS,Timor-Leste,Dili,Asia,1341296,1299995,1205813,1088486,878360,758106,642224,554021,14874,90.1772,1.0154,0.02
214,18,TUR,Turkey,Ankara,Asia,85341241,84135428,79646178,73195345,64113547,54324142,44089069,35540990,783562,108.9145,1.0067,1.07
215,111,TKM,Turkmenistan,Ashgabat,Asia,6430770,6250438,5766431,5267970,4569132,3720278,2862903,2201432,488100,13.1751,1.0140,0.08
220,97,ARE,United Arab Emirates,Abu Dhabi,Asia,9441129,9287289,8916899,8481771,3275333,1900151,1014048,298084,83600,112.9322,1.0081,0.12
225,43,UZB,Uzbekistan,Tashkent,Asia,34627652,33526656,30949417,28614227,24925554,20579100,15947129,12011361,447400,77.3975,1.0160,0.43
229,16,VNM,Vietnam,Hanoi,Asia,98186856,96648685,92191398,87411012,79001142,66912613,52968270,41928849,331212,296.4472,1.0074,1.23
232,46,YEM,Yemen,Sanaa,Asia,33696614,32284046,28516545,24743946,18628700,13375121,9204938,6843607,527968,63.8232,1.0217,0.42

In [21]:
filt_2022 = csv_data['2022Population'] > 100000000
csv_data[filt_2022]

,Rank,CCA3,Country/Territory,Capital,Continent,2022Population,2020Population,2015Population,2010Population,2000Population,1990Population,1980Population,1970Population,Area,Density,GrowthRate,WorldPopulationPercentage
id,,,,,,,,,,,,,,,,,
17,8,BGD,Bangladesh,Dhaka,Asia,171186372,167420951,157830000,148391139,129193327,107147651,83929765,67541860,147570,1160.0350,1.0108,2.15
28,7,BRA,Brazil,Brasilia,South America,215313498,213196304,205188205,196353492,175873720,150706446,122288383,96369875,8515767,25.2841,1.0046,2.70
42,1,CHN,China,Beijing,Asia,1425887337,1424929781,1393715448,1348191368,1264099069,1153704252,982372466,822534450,9706961,146.8933,1.0000,17.88
58,14,EGY,Egypt,Cairo,Africa,110990103,107465134,97723799,87252413,71371371,57214630,43748556,34781986,1002450,110.7188,1.0158,1.39
64,12,ETH,Ethiopia,Addis Ababa,Africa,123379924,117190911,102471895,89237791,67031867,47878073,34945469,28308246,1104300,111.7268,1.0257,1.55
93,2,IND,India,New Delhi,Asia,1417173173,1396387127,1322866505,1240613620,1059633675,870452165,696828385,557501301,3287590,431.0675,1.0068,17.77
94,4,IDN,Indonesia,Jakarta,Asia,275501339,271857970,259091970,244016173,214072421,182159874,148177096,115228394,1904569,144.6529,1.0064,3.45
103,11,JPN,Japan,Tokyo,Asia,123951692,125244761,127250933,128105431,126803861,123686321,117624196,105416839,377930,327.9753,0.9947,1.55
132,10,MEX,Mexico,Mexico City,North America,127504125,125998302,120149897,112532401,97873442,81720428,67705186,50289306,1964375,64.9082,1.0063,1.60
150,6,NGA,Nigeria,Abuja,Africa,218541212,208327405,183995785,160952853,122851984,95214257,72951439,55569264,923768,236.5759,1.0241,2.74
157,5,PAK,Pakistan,Islamabad,Asia,235824862,227196741,210969298,194454498,154369924,115414069,80624057,59290872,881912,267.4018,1.0191,2.96
164,13,PHL,Philippines,Manila,Asia,115559009,112190977,103031365,94636700,77958223,61558898,48419546,37435586,342353,337.5434,1.0147,1.45
172,9,RUS,Russia,Moscow,Europe,144713314,145617329,144668389,143242599,146844839,148005704,138257420,130093010,17098242,8.4636,0.9973,1.81
222,3,USA,United States,"Washington, D.C.",North America,338289857,335942003,324607776,311182845,282398554,248083732,223140018,200328340,9372610,36.0935,1.0038,4.24

In [22]:
filt_2000 = csv_data['2000Population'] < 10000000
csv_data[filt_2000]

,Rank,CCA3,Country/Territory,Capital,Continent,2022Population,2020Population,2015Population,2010Population,2000Population,1990Population,1980Population,1970Population,Area,Density,GrowthRate,WorldPopulationPercentage
id,,,,,,,,,,,,,,,,,
2,138,ALB,Albania,Tirana,Europe,2842321,2866849,2882481,2913399,3182021,3295066,2941651,2324731,28748,98.8702,0.9957,0.04
4,213,ASM,American Samoa,Pago Pago,Oceania,44273,46189,51368,54849,58230,47818,32886,27075,199,222.4774,0.9831,0.00
5,203,AND,Andorra,Andorra la Vella,Europe,79824,77700,71746,71519,66097,53569,35611,19860,468,170.5641,1.0100,0.00
7,224,AIA,Anguilla,The Valley,North America,15857,15585,14525,13172,11047,8316,6560,6283,91,174.2527,1.0066,0.00
8,201,ATG,Antigua and Barbuda,Saint John‚Äôs,North America,93763,92664,89941,85695,75055,63328,64888,64516,442,212.1335,1.0058,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
226,181,VUT,Vanuatu,Port-Vila,Oceania,326740,311685,276438,245453,192074,150882,118156,87019,12189,26.8061,1.0238,0.00
227,234,VAT,Vatican City,Vatican City,Europe,510,520,564,596,651,700,733,752,1,510.0000,0.9980,0.00
230,226,WLF,Wallis and Futuna,Mata-Utu,Oceania,11572,11655,12182,13142,14723,13454,11315,9377,142,81.4930,0.9953,0.00
231,172,ESH,Western Sahara,El Aai√∫n,Africa,575986,556048,491824,413296,270375,178529,116775,76371,266000,2.1654,1.0184,0.01
233,63,ZMB,Zambia,Lusaka,Africa,20017675,18927715,16248230,13792086,9891136,7686401,5720438,4281671,752612,26.5976,1.0280,0.25

In [23]:
filt_den = csv_data['Density'] > 500
csv_data[filt_den]

,Rank,CCA3,Country/Territory,Capital,Continent,2022Population,2020Population,2015Population,2010Population,2000Population,1990Population,1980Population,1970Population,Area,Density,GrowthRate,WorldPopulationPercentage
id,,,,,,,,,,,,,,,,,
11,198,ABW,Aruba,Oranjestad,North America,106445,106585,104257,100341,89101,65712,62267,59106,180,591.3611,0.9991,0.00
16,154,BHR,Bahrain,Manama,Asia,1472233,1477469,1362142,1213645,711442,517418,362595,222555,765,1924.4876,1.0061,0.02
17,8,BGD,Bangladesh,Dhaka,Asia,171186372,167420951,157830000,148391139,129193327,107147651,83929765,67541860,147570,1160.0350,1.0108,2.15
18,186,BRB,Barbados,Bridgetown,North America,281635,280693,278083,274711,264657,258868,253575,241397,430,654.9651,1.0015,0.00
23,206,BMU,Bermuda,Hamilton,North America,64184,64031,63144,63447,61371,57470,53565,52019,54,1188.5926,1.0000,0.00
77,219,GIB,Gibraltar,Gibraltar,Europe,32649,32709,32520,31262,27741,27317,28734,26685,6,5441.5000,0.9994,0.00
84,207,GGY,Guernsey,Saint Peter Port,Europe,63301,62794,61629,60782,59114,57727,52860,52656,78,811.5513,1.0037,0.00
90,104,HKG,Hong Kong,Hong Kong,Asia,7488865,7500958,7399838,7132438,6731195,5838574,4978544,3955072,1104,6783.3922,0.9992,0.09
104,195,JEY,Jersey,Saint Helier,Europe,110778,108319,100561,96151,86192,82874,75124,68347,116,954.9828,1.0106,0.00
113,119,LBN,Lebanon,Beirut,Asia,5489739,5662923,6398940,4995800,4320642,3593700,2963702,2381791,10452,525.2334,0.9816,0.07
120,167,MAC,Macau,Concelho de Macau,Asia,695168,676283,615239,557297,431896,350227,245332,247284,30,23172.2667,1.0125,0.01
124,174,MDV,Maldives,Mal√©,Asia,523787,514438,435582,361575,282507,224957,164887,123243,300,1745.9567,1.0045,0.01
126,173,MLT,Malta,Valletta,Europe,533286,515357,456579,418755,399212,365392,333587,315414,316,1687.6139,1.0124,0.01
130,157,MUS,Mauritius,Port Louis,Africa,1299469,1297828,1293153,1283330,1215930,1090290,954865,830115,2040,636.9946,1.0004,0.02
131,182,MYT,Mayotte,Mamoudzou,Africa,326101,305587,249545,211786,159215,92659,52233,35383,374,871.9278,1.0319,0.00
135,217,MCO,Monaco,Monaco,Europe,36469,36922,36760,33178,32465,30329,27076,24270,2,18234.5000,0.9941,0.00
143,225,NRU,Nauru,Yaren,Oceania,12668,12315,11185,10241,10377,9598,7635,6663,21,603.2381,1.0125,0.00
159,122,PSE,Palestine,Ramallah,Asia,5250072,5019401,4484614,3992278,3139954,2124609,1453620,1118241,6220,844.0630,1.0227,0.07
173,76,RWA,Rwanda,Kigali,Africa,13776698,13146362,11642959,10309031,8109989,7319962,5247532,3896367,26338,523.0731,1.0234,0.17
174,228,BLM,Saint Barthelemy,Gustavia,North America,10967,10681,9643,8988,7082,5168,2983,2417,21,522.2381,1.0098,0.00
177,220,MAF,Saint Martin,Marigot,North America,31791,32552,35020,36458,29610,28127,7776,5802,53,599.8302,0.9951,0.00
181,218,SMR,San Marino,San Marino,Europe,33660,34007,33570,31608,26823,23132,21346,18169,61,551.8033,0.9975,0.00
188,113,SGP,Singapore,Singapore,Asia,5975689,5909869,5650018,5163590,4053602,3022209,2400729,2061831,710,8416.4634,1.0058,0.07
189,214,SXM,Sint Maarten,Philipsburg,North America,44175,43621,40205,33034,30489,27845,12243,6260,34,1299.2647,1.0030,0.00
195,29,KOR,South Korea,Seoul,Asia,51815810,51844690,50994401,48813042,46788591,44120039,38170501,32601143,100210,517.0722,0.9997,0.65
204,57,TWN,Taiwan,Taipei,Asia,23893394,23821464,23512136,23083083,22194731,20586174,18100281,14957870,36193,660.1662,1.0014,0.30
227,234,VAT,Vatican City,Vatican City,Europe,510,520,564,596,651,700,733,752,1,510.0000,0.9980,0.00

In [24]:
filt_grw = csv_data['GrowthRate'] < 1
csv_data[filt_grw]

,Rank,CCA3,Country/Territory,Capital,Continent,2022Population,2020Population,2015Population,2010Population,2000Population,1990Population,1980Population,1970Population,Area,Density,GrowthRate,WorldPopulationPercentage
id,,,,,,,,,,,,,,,,,
2,138,ALB,Albania,Tirana,Europe,2842321,2866849,2882481,2913399,3182021,3295066,2941651,2324731,28748,98.8702,0.9957,0.04
4,213,ASM,American Samoa,Pago Pago,Oceania,44273,46189,51368,54849,58230,47818,32886,27075,199,222.4774,0.9831,0.00
10,140,ARM,Armenia,Yerevan,Asia,2780469,2805608,2878595,2946293,3168523,3556539,3135123,2534377,29743,93.4831,0.9962,0.03
11,198,ABW,Aruba,Oranjestad,North America,106445,106585,104257,100341,89101,65712,62267,59106,180,591.3611,0.9991,0.00
19,96,BLR,Belarus,Minsk,Europe,9534954,9633740,9700609,9731427,10256483,10428525,9817257,9170786,207600,45.9295,0.9955,0.12
26,137,BIH,Bosnia and Herzegovina,Sarajevo,Europe,3233526,3318407,3524324,3811088,4179350,4494310,4199820,3815561,51209,63.1437,0.9886,0.04
31,108,BGR,Bulgaria,Sofia,Europe,6781953,6979175,7309253,7592273,8097691,8767778,8980606,8582950,110879,61.1654,0.9849,0.09
47,130,HRV,Croatia,Zagreb,Europe,4030358,4096868,4254815,4368682,4548434,4873707,4680144,4492638,56594,71.2153,0.9927,0.05
48,85,CUB,Cuba,Havana,North America,11212191,11300698,11339894,11290417,11105791,10626680,9809107,8869636,109884,102.0366,0.9961,0.14
51,88,CZE,Czech Republic,Prague,Europe,10493986,10530953,10523798,10464749,10234710,10301192,10270060,9795744,78865,133.0627,0.9984,0.13
62,156,EST,Estonia,Tallinn,Europe,1326062,1329444,1314657,1331535,1396877,1570674,1476983,1361999,45227,29.3201,0.9980,0.02
74,131,GEO,Georgia,Tbilisi,Asia,3744385,3765912,3771132,3836831,4265172,5391636,5145843,4800426,69700,53.7214,0.9964,0.05
75,19,DEU,Germany,Berlin,Europe,83369843,83328988,82073226,81325090,81551677,79370196,77786703,78294583,357114,233.4544,0.9995,1.05
77,219,GIB,Gibraltar,Gibraltar,Europe,32649,32709,32520,31262,27741,27317,28734,26685,6,5441.5000,0.9994,0.00
78,90,GRC,Greece,Athens,Europe,10384971,10512232,10806641,11033783,11038109,10302255,9307148,8544873,131990,78.6800,0.9942,0.13
81,178,GLP,Guadeloupe,Basse-Terre,North America,395752,395642,399089,403072,424067,391951,334234,318310,1628,243.0909,0.9992,0.00
90,104,HKG,Hong Kong,Hong Kong,Asia,7488865,7500958,7399838,7132438,6731195,5838574,4978544,3955072,1104,6783.3922,0.9992,0.09
100,25,ITA,Italy,Rome,Europe,59037474,59500579,60232906,59822450,56966397,56756561,56329482,53324036,301336,195.9191,0.9966,0.74
102,139,JAM,Jamaica,Kingston,North America,2827377,2820436,2794445,2733896,2612205,2392030,2135546,1859091,10991,257.2447,0.9999,0.04
103,11,JPN,Japan,Tokyo,Asia,123951692,125244761,127250933,128105431,126803861,123686321,117624196,105416839,377930,327.9753,0.9947,1.55
112,151,LVA,Latvia,Riga,Europe,1850651,1897052,1991955,2101530,2392530,2689391,2572037,2397414,64559,28.6660,0.9876,0.02
113,119,LBN,Lebanon,Beirut,Asia,5489739,5662923,6398940,4995800,4320642,3593700,2963702,2381791,10452,525.2334,0.9816,0.07
118,141,LTU,Lithuania,Vilnius,Europe,2750055,2820267,2963765,3139019,3599637,3785847,3521206,3210147,65300,42.1142,0.9869,0.03
127,215,MHL,Marshall Islands,Majuro,Oceania,41569,43413,49410,53416,54224,46047,31988,23969,181,229.6630,0.9886,0.00
128,180,MTQ,Martinique,Fort-de-France,North America,367507,370391,383515,392181,432543,374271,333786,326428,1128,325.8041,0.9965,0.00
135,217,MCO,Monaco,Monaco,Europe,36469,36922,36760,33178,32465,30329,27076,24270,2,18234.5000,0.9941,0.00
137,169,MNE,Montenegro,Podgorica,Europe,627082,629048,633966,631044,633324,621442,589324,530268,13812,45.4012,0.9988,0.01
138,230,MSR,Montserrat,Brades,North America,4390,4500,5059,4938,5138,10805,11452,11402,102,43.0392,0.9939,0.00
151,232,NIU,Niue,Alofi,Oceania,1934,1942,1847,1812,2074,2533,3637,5185,260,7.4385,0.9985,0.00
153,150,MKD,North Macedonia,Skopje,Europe,2093599,2111072,2107962,2093828,2037936,2044174,1907023,1656783,25713,81.4218,0.9954,0.03
166,92,PRT,Portugal,Lisbon,Europe,10270865,10298192,10365435,10588401,10300626,10007346,9785252,8683631,92090,111.5307,0.9981,0.13
167,136,PRI,Puerto Rico,San Juan,North America,3252407,3271564,3497335,3717922,3827108,3543776,3214568,2737619,8870,366.6750,0.9989,0.04
172,9,RUS,Russia,Moscow,Europe,144713314,145617329,144668389,143242599,146844839,148005704,138257420,130093010,17098242,8.4636,0.9973,1.81
177,220,MAF,Saint Martin,Marigot,North America,31791,32552,35020,36458,29610,28127,7776,5802,53,599.8302,0.9951,0.00
178,229,SPM,Saint Pierre and Miquelon,Saint-Pierre,North America,5862,5906,5978,6052,6274,6324,6106,5537,242,24.2231,0.9964,0.00
179,199,VCT,Saint Vincent and the Grenadines,Kingstown,North America,103948,104632,106482,109308,113813,112487,107480,98459,389,267.2185,0.9963,0.00
181,218,SMR,San Marino,San Marino,Europe,33660,34007,33570,31608,26823,23132,21346,18169,61,551.8033,0.9975,0.00
185,105,SRB,Serbia,Belgrade,Europe,7221365,7358005,7519496,7653748,7935022,7987529,7777010,7193533,88361,81.7257,0.9897,0.09
195,29,KOR,South Korea,Seoul,Asia,51815810,51844690,50994401,48813042,46788591,44120039,38170501,32601143,100210,517.0722,0.9997,0.65
219,38,UKR,Ukraine,Kiev,Europe,39701739,43909666,44982564,45683020,48879755,51589817,49973920,47279086,603500,65.7858,0.9120,0.50
223,200,VIR,United States Virgin Islands,Charlotte Amalie,North America,99465,100442,102803,106142,108185,100685,96640,63446,347,286.6427,0.9937,0.00
224,133,URY,Uruguay,Montevideo,South America,3422794,3429086,3402818,3352651,3292224,3117012,2953750,2790265,181034,18.9069,0.9990,0.04
227,234,VAT,Vatican City,Vatican City,Europe,510,520,564,596,651,700,733,752,1,510.0000,0.9980,0.00
230,226,WLF,Wallis and Futuna,Mata-Utu,Oceania,11572,11655,12182,13142,14723,13454,11315,9377,142,81.4930,0.9953,0.00

In [25]:
sorted_val = csv_data.sort_values(by='2022Population',ascending=False)
sorted_val.head(10)

,Rank,CCA3,Country/Territory,Capital,Continent,2022Population,2020Population,2015Population,2010Population,2000Population,1990Population,1980Population,1970Population,Area,Density,GrowthRate,WorldPopulationPercentage
id,,,,,,,,,,,,,,,,,
42,1,CHN,China,Beijing,Asia,1425887337,1424929781,1393715448,1348191368,1264099069,1153704252,982372466,822534450,9706961,146.8933,1.0000,17.88
93,2,IND,India,New Delhi,Asia,1417173173,1396387127,1322866505,1240613620,1059633675,870452165,696828385,557501301,3287590,431.0675,1.0068,17.77
222,3,USA,United States,"Washington, D.C.",North America,338289857,335942003,324607776,311182845,282398554,248083732,223140018,200328340,9372610,36.0935,1.0038,4.24
94,4,IDN,Indonesia,Jakarta,Asia,275501339,271857970,259091970,244016173,214072421,182159874,148177096,115228394,1904569,144.6529,1.0064,3.45
157,5,PAK,Pakistan,Islamabad,Asia,235824862,227196741,210969298,194454498,154369924,115414069,80624057,59290872,881912,267.4018,1.0191,2.96
150,6,NGA,Nigeria,Abuja,Africa,218541212,208327405,183995785,160952853,122851984,95214257,72951439,55569264,923768,236.5759,1.0241,2.74
28,7,BRA,Brazil,Brasilia,South America,215313498,213196304,205188205,196353492,175873720,150706446,122288383,96369875,8515767,25.2841,1.0046,2.70
17,8,BGD,Bangladesh,Dhaka,Asia,171186372,167420951,157830000,148391139,129193327,107147651,83929765,67541860,147570,1160.0350,1.0108,2.15
172,9,RUS,Russia,Moscow,Europe,144713314,145617329,144668389,143242599,146844839,148005704,138257420,130093010,17098242,8.4636,0.9973,1.81
132,10,MEX,Mexico,Mexico City,North America,127504125,125998302,120149897,112532401,97873442,81720428,67705186,50289306,1964375,64.9082,1.0063,1.60

In [26]:
small_filt = csv_data['Area'] < 1000
csv_data[small_filt]

,Rank,CCA3,Country/Territory,Capital,Continent,2022Population,2020Population,2015Population,2010Population,2000Population,1990Population,1980Population,1970Population,Area,Density,GrowthRate,WorldPopulationPercentage
id,,,,,,,,,,,,,,,,,
4,213,ASM,American Samoa,Pago Pago,Oceania,44273,46189,51368,54849,58230,47818,32886,27075,199,222.4774,0.9831,0.00
5,203,AND,Andorra,Andorra la Vella,Europe,79824,77700,71746,71519,66097,53569,35611,19860,468,170.5641,1.0100,0.00
7,224,AIA,Anguilla,The Valley,North America,15857,15585,14525,13172,11047,8316,6560,6283,91,174.2527,1.0066,0.00
8,201,ATG,Antigua and Barbuda,Saint John‚Äôs,North America,93763,92664,89941,85695,75055,63328,64888,64516,442,212.1335,1.0058,0.00
11,198,ABW,Aruba,Oranjestad,North America,106445,106585,104257,100341,89101,65712,62267,59106,180,591.3611,0.9991,0.00
16,154,BHR,Bahrain,Manama,Asia,1472233,1477469,1362142,1213645,711442,517418,362595,222555,765,1924.4876,1.0061,0.02
18,186,BRB,Barbados,Bridgetown,North America,281635,280693,278083,274711,264657,258868,253575,241397,430,654.9651,1.0015,0.00
23,206,BMU,Bermuda,Hamilton,North America,64184,64031,63144,63447,61371,57470,53565,52019,54,1188.5926,1.0000,0.00
29,221,VGB,British Virgin Islands,Road Town,North America,31305,30910,29366,27556,20104,15617,11109,9581,151,207.3179,1.0059,0.00
38,205,CYM,Cayman Islands,George Town,North America,68706,67311,60911,54074,39658,26027,17100,10533,264,260.2500,1.0084,0.00
45,223,COK,Cook Islands,Avarua,Oceania,17011,17029,17695,17212,15897,17123,17651,20470,236,72.0805,1.0005,0.00
49,189,CUW,Curacao,Willemstad,North America,191163,189288,169572,159380,141424,155446,156851,150385,444,430.5473,1.0043,0.00
54,204,DMA,Dominica,Roseau,North America,72737,71995,70007,68755,68346,69481,72978,68895,751,96.8535,1.0045,0.00
77,219,GIB,Gibraltar,Gibraltar,Europe,32649,32709,32520,31262,27741,27317,28734,26685,6,5441.5000,0.9994,0.00
80,193,GRD,Grenada,Saint George's,North America,125438,123663,118980,114039,107432,99047,94838,98794,344,364.6453,1.0066,0.00
82,191,GUM,Guam,Hag√•t√±a,Oceania,171774,169231,167978,164905,160188,138263,110286,88300,549,312.8852,1.0073,0.00
84,207,GGY,Guernsey,Saint Peter Port,Europe,63301,62794,61629,60782,59114,57727,52860,52656,78,811.5513,1.0037,0.00
98,202,IMN,Isle of Man,Douglas,Europe,84519,84046,83593,83828,75562,68865,64022,55298,572,147.7605,1.0030,0.00
104,195,JEY,Jersey,Saint Helier,Europe,110778,108319,100561,96151,86192,82874,75124,68347,116,954.9828,1.0106,0.00
108,192,KIR,Kiribati,Tarawa,Oceania,131232,126463,116707,107995,88826,75124,60813,57437,811,161.8150,1.0183,0.00
117,216,LIE,Liechtenstein,Vaduz,Europe,39327,38756,37355,35926,33026,28765,25003,21089,160,245.7937,1.0074,0.00
120,167,MAC,Macau,Concelho de Macau,Asia,695168,676283,615239,557297,431896,350227,245332,247284,30,23172.2667,1.0125,0.01
124,174,MDV,Maldives,Mal√©,Asia,523787,514438,435582,361575,282507,224957,164887,123243,300,1745.9567,1.0045,0.01
126,173,MLT,Malta,Valletta,Europe,533286,515357,456579,418755,399212,365392,333587,315414,316,1687.6139,1.0124,0.01
127,215,MHL,Marshall Islands,Majuro,Oceania,41569,43413,49410,53416,54224,46047,31988,23969,181,229.6630,0.9886,0.00
131,182,MYT,Mayotte,Mamoudzou,Africa,326101,305587,249545,211786,159215,92659,52233,35383,374,871.9278,1.0319,0.00
133,194,FSM,Micronesia,Palikir,Oceania,114164,112106,109462,107588,111709,98603,76299,58989,702,162.6268,1.0091,0.00
135,217,MCO,Monaco,Monaco,Europe,36469,36922,36760,33178,32465,30329,27076,24270,2,18234.5000,0.9941,0.00
138,230,MSR,Montserrat,Brades,North America,4390,4500,5059,4938,5138,10805,11452,11402,102,43.0392,0.9939,0.00
143,225,NRU,Nauru,Yaren,Oceania,12668,12315,11185,10241,10377,9598,7635,6663,21,603.2381,1.0125,0.00
151,232,NIU,Niue,Alofi,Oceania,1934,1942,1847,1812,2074,2533,3637,5185,260,7.4385,0.9985,0.00
154,210,NFK,Northern Mariana Islands,Saipan,Oceania,49551,49587,51514,54087,80338,48002,17613,10143,464,106.7909,1.0014,0.00
158,222,PLW,Palau,Ngerulmud,Oceania,18055,17972,17794,18540,19726,15293,12252,11366,459,39.3355,1.0017,0.00
174,228,BLM,Saint Barthelemy,Gustavia,North America,10967,10681,9643,8988,7082,5168,2983,2417,21,522.2381,1.0098,0.00
175,211,KNA,Saint Kitts and Nevis,Basseterre,North America,47657,47642,47790,47403,45461,40636,43097,44968,261,182.5939,1.0011,0.00
176,190,LCA,Saint Lucia,Castries,North America,179857,179237,175623,170935,159500,142301,121633,103090,616,291.9756,1.0011,0.00
177,220,MAF,Saint Martin,Marigot,North America,31791,32552,35020,36458,29610,28127,7776,5802,53,599.8302,0.9951,0.00
178,229,SPM,Saint Pierre and Miquelon,Saint-Pierre,North America,5862,5906,5978,6052,6274,6324,6106,5537,242,24.2231,0.9964,0.00
179,199,VCT,Saint Vincent and the Grenadines,Kingstown,North America,103948,104632,106482,109308,113813,112487,107480,98459,389,267.2185,0.9963,0.00
181,218,SMR,San Marino,San Marino,Europe,33660,34007,33570,31608,26823,23132,21346,18169,61,551.8033,0.9975,0.00
182,187,STP,Sao Tome and Principe,S√£o Tom√©,Africa,227380,218641,201124,182138,143714,120343,97210,77583,964,235.8714,1.0192,0.00
186,196,SYC,Seychelles,Victoria,Africa,107118,105530,99240,92409,80060,71057,65290,54379,452,236.9867,1.0061,0.00
188,113,SGP,Singapore,Singapore,Asia,5975689,5909869,5650018,5163590,4053602,3022209,2400729,2061831,710,8416.4634,1.0058,0.07
189,214,SXM,Sint Maarten,Philipsburg,North America,44175,43621,40205,33034,30489,27845,12243,6260,34,1299.2647,1.0030,0.00
210,233,TKL,Tokelau,Nukunonu,Oceania,1871,1827,1454,1367,1666,1669,1647,1714,12,155.9167,1.0119,0.00
211,197,TON,Tonga,Nuku‚Äòalofa,Oceania,106858,105254,106122,107383,102603,98727,96708,86484,747,143.0495,1.0079,0.00
216,212,TCA,Turks and Caicos Islands,Cockburn Town,North America,45703,44276,36538,29726,18744,11709,7598,5665,948,48.2099,1.0131,0.00
217,227,TUV,Tuvalu,Funafuti,Oceania,11312,11069,10877,10550,9638,9182,7731,5814,26,435.0769,1.0096,0.00
223,200,VIR,United States Virgin Islands,Charlotte Amalie,North America,99465,100442,102803,106142,108185,100685,96640,63446,347,286.6427,0.9937,0.00
227,234,VAT,Vatican City,Vatican City,Europe,510,520,564,596,651,700,733,752,1,510.0000,0.9980,0.00
230,226,WLF,Wallis and Futuna,Mata-Utu,Oceania,11572,11655,12182,13142,14723,13454,11315,9377,142,81.4930,0.9953,0.00

In [27]:
filt_capital = ((csv_data['Capital'].str.startswith('B')) & (csv_data['2022Population'] > 20000000))
csv_data[filt_capital]

,Rank,CCA3,Country/Territory,Capital,Continent,2022Population,2020Population,2015Population,2010Population,2000Population,1990Population,1980Population,1970Population,Area,Density,GrowthRate,WorldPopulationPercentage
id,,,,,,,,,,,,,,,,,
9,33,ARG,Argentina,Buenos Aires,South America,45510318,45036032,43257065,41100123,37070774,32637657,28024803,23842803,2780400,16.3683,1.0052,0.57
28,7,BRA,Brazil,Brasilia,South America,215313498,213196304,205188205,196353492,175873720,150706446,122288383,96369875,8515767,25.2841,1.0046,2.70
42,1,CHN,China,Beijing,Asia,1425887337,1424929781,1393715448,1348191368,1264099069,1153704252,982372466,822534450,9706961,146.8933,1.0000,17.88
43,28,COL,Colombia,Bogota,South America,51874024,50930662,47119728,44816108,39215135,32601393,26176195,20905254,1141748,45.4339,1.0069,0.65
75,19,DEU,Germany,Berlin,Europe,83369843,83328988,82073226,81325090,81551677,79370196,77786703,78294583,357114,233.4544,0.9995,1.05
96,35,IRQ,Iraq,Baghdad,Asia,44496122,42556984,37757813,31264875,24628858,17658381,13653369,9811347,438317,101.5158,1.0221,0.56
125,59,MLI,Mali,Bamako,Africa,22593590,21224040,18112907,15529181,11239101,8945026,7372581,6153587,1240192,18.2178,1.0314,0.28
207,20,THA,Thailand,Bangkok,Asia,71697030,71475664,70294397,68270489,63066603,55228410,45737753,35791728,513120,139.7276,1.0013,0.90

In [28]:
filt_population = csv_data['2022Population'].sum()
filt_countries = (((csv_data['2022Population'] / filt_population)*100)>1)
csv_data[filt_countries]

,Rank,CCA3,Country/Territory,Capital,Continent,2022Population,2020Population,2015Population,2010Population,2000Population,1990Population,1980Population,1970Population,Area,Density,GrowthRate,WorldPopulationPercentage
id,,,,,,,,,,,,,,,,,
17,8,BGD,Bangladesh,Dhaka,Asia,171186372,167420951,157830000,148391139,129193327,107147651,83929765,67541860,147570,1160.0350,1.0108,2.15
28,7,BRA,Brazil,Brasilia,South America,215313498,213196304,205188205,196353492,175873720,150706446,122288383,96369875,8515767,25.2841,1.0046,2.70
42,1,CHN,China,Beijing,Asia,1425887337,1424929781,1393715448,1348191368,1264099069,1153704252,982372466,822534450,9706961,146.8933,1.0000,17.88
56,15,COD,DR Congo,Kinshasa,Africa,99010212,92853164,78656904,66391257,48616317,35987541,26708686,20151733,2344858,42.2244,1.0325,1.24
58,14,EGY,Egypt,Cairo,Africa,110990103,107465134,97723799,87252413,71371371,57214630,43748556,34781986,1002450,110.7188,1.0158,1.39
64,12,ETH,Ethiopia,Addis Ababa,Africa,123379924,117190911,102471895,89237791,67031867,47878073,34945469,28308246,1104300,111.7268,1.0257,1.55
75,19,DEU,Germany,Berlin,Europe,83369843,83328988,82073226,81325090,81551677,79370196,77786703,78294583,357114,233.4544,0.9995,1.05
93,2,IND,India,New Delhi,Asia,1417173173,1396387127,1322866505,1240613620,1059633675,870452165,696828385,557501301,3287590,431.0675,1.0068,17.77
94,4,IDN,Indonesia,Jakarta,Asia,275501339,271857970,259091970,244016173,214072421,182159874,148177096,115228394,1904569,144.6529,1.0064,3.45
95,17,IRN,Iran,Tehran,Asia,88550570,87290193,81790841,75373855,65544383,55793629,38520664,28449705,1648195,53.7258,1.0071,1.11
103,11,JPN,Japan,Tokyo,Asia,123951692,125244761,127250933,128105431,126803861,123686321,117624196,105416839,377930,327.9753,0.9947,1.55
132,10,MEX,Mexico,Mexico City,North America,127504125,125998302,120149897,112532401,97873442,81720428,67705186,50289306,1964375,64.9082,1.0063,1.60
150,6,NGA,Nigeria,Abuja,Africa,218541212,208327405,183995785,160952853,122851984,95214257,72951439,55569264,923768,236.5759,1.0241,2.74
157,5,PAK,Pakistan,Islamabad,Asia,235824862,227196741,210969298,194454498,154369924,115414069,80624057,59290872,881912,267.4018,1.0191,2.96
164,13,PHL,Philippines,Manila,Asia,115559009,112190977,103031365,94636700,77958223,61558898,48419546,37435586,342353,337.5434,1.0147,1.45
172,9,RUS,Russia,Moscow,Europe,144713314,145617329,144668389,143242599,146844839,148005704,138257420,130093010,17098242,8.4636,0.9973,1.81
214,18,TUR,Turkey,Ankara,Asia,85341241,84135428,79646178,73195345,64113547,54324142,44089069,35540990,783562,108.9145,1.0067,1.07
222,3,USA,United States,"Washington, D.C.",North America,338289857,335942003,324607776,311182845,282398554,248083732,223140018,200328340,9372610,36.0935,1.0038,4.24
229,16,VNM,Vietnam,Hanoi,Asia,98186856,96648685,92191398,87411012,79001142,66912613,52968270,41928849,331212,296.4472,1.0074,1.23

In [29]:
filt_a = (csv_data['Country/Territory'].str.startswith('A'))
new_csv = csv_data[filt_a][['Rank', 'CCA3', 'Country/Territory', 'Capital', 'Continent']]
new_csv.to_csv('datas/orges_world_data.csv')

In [30]:
filt_100 = (csv_data['2020Population'] > 100000000)
new_excel = csv_data[filt_100]
new_excel.to_excel('datas/orges_world_data.xlsx')