In [1]:
import pandas as pd

## Load the CSV

In [3]:
df = pd.read_csv('../../../sample_data/police.csv')

## 2. Data exploration

In [5]:
df.head(10)

,stop_date,stop_time,county_name,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop
0,2005-01-02,01:55,NaN,M,1985.0,20.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
1,2005-01-18,08:15,NaN,M,1965.0,40.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
2,2005-01-23,23:15,NaN,M,1972.0,33.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
3,2005-02-20,17:15,NaN,M,1986.0,19.0,White,Call for Service,Other,False,NaN,Arrest Driver,True,16-30 Min,False
4,2005-03-14,10:00,NaN,F,1984.0,21.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
5,2005-03-23,09:45,NaN,M,1982.0,23.0,Black,Equipment/Inspection Violation,Equipment,False,NaN,Citation,False,0-15 Min,False
6,2005-04-01,17:30,NaN,M,1969.0,36.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
7,2005-06-06,13:20,NaN,F,1986.0,19.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
8,2005-07-13,10:15,NaN,M,1970.0,35.0,Black,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
9,2005-07-13,15:45,NaN,M,1970.0,35.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 91741 entries, 0 to 91740
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   stop_date           91741 non-null  object
 1   stop_time           91741 non-null  object
 2   county_name         0 non-null      float64
 3   driver_gender       86406 non-null  object
 4   driver_age_raw      86414 non-null  float64
 5   driver_age          86120 non-null  float64
 6   driver_race         86408 non-null  object
 7   violation_raw       86408 non-null  object
 8   violation           86408 non-null  object
 9   search_conducted    91741 non-null  bool
 10  search_type         3196 non-null   object
 11  stop_outcome        86408 non-null  object
 12  is_arrested         86408 non-null  object
 13  stop_duration       86408 non-null  object
 14  drugs_related_stop  91741 non-null  bool
dtypes: bool(2), float64(3), object(10)
memory usage: 9.3+ MB

In [7]:
df['stop_date'].count()

91741

In [8]:
df['violation'].unique()

array(['Speeding', 'Other', 'Equipment', 'Moving violation', nan,
       'Registration/plates', 'Seat belt'], dtype=object)

## Derivative Columns

In [10]:
df['stop_date'] = pd.to_datetime(df['stop_date'], format='%Y-%m-%d')

In [11]:
df['stop_hour'] = pd.to_datetime(df['stop_time'], format='%H:%M').dt.time

## Non-speeding Arrests

In [13]:
df['is_weekend'] = ((pd.to_datetime(df['stop_date']).dt.day_name()) == 'Sunday') | ((pd.to_datetime(df['stop_date']).dt.day_name()) == 'Saturday')

In [14]:
arr = df[(df['is_arrested']==True) & (~(df['violation']=='Speeding'))]
arr

,stop_date,stop_time,county_name,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop,stop_hour,is_weekend
3,2005-02-20,17:15,NaN,M,1986.0,19.0,White,Call for Service,Other,False,NaN,Arrest Driver,True,16-30 Min,False,17:15:00,True
22,2005-08-08,02:09,NaN,M,1955.0,50.0,Black,Other Traffic Violation,Moving violation,False,NaN,Arrest Driver,True,30+ Min,False,02:09:00,False
24,2005-08-28,01:00,NaN,M,1979.0,26.0,White,Other Traffic Violation,Moving violation,True,"Incident to Arrest,Protective Frisk",Arrest Driver,True,16-30 Min,False,01:00:00,True
40,2005-10-01,00:00,NaN,M,1988.0,17.0,White,Equipment/Inspection Violation,Equipment,True,Probable Cause,Arrest Driver,True,16-30 Min,True,00:00:00,True
42,2005-10-01,00:50,NaN,M,1977.0,28.0,Hispanic,Other Traffic Violation,Moving violation,False,NaN,Arrest Driver,True,30+ Min,False,00:50:00,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91471,2015-12-16,14:52,NaN,M,1975.0,40.0,Hispanic,Other Traffic Violation,Moving violation,True,"Incident to Arrest,Inventory",Arrest Driver,True,30+ Min,False,14:52:00,False
91562,2015-12-21,14:15,NaN,M,1988.0,27.0,White,Other Traffic Violation,Moving violation,False,NaN,Arrest Passenger,True,0-15 Min,False,14:15:00,False
91625,2015-12-26,23:18,NaN,M,1969.0,46.0,Hispanic,Registration Violation,Registration/plates,False,NaN,Arrest Driver,True,16-30 Min,False,23:18:00,True
91628,2015-12-27,00:27,NaN,M,1987.0,28.0,Hispanic,Registration Violation,Registration/plates,False,NaN,Arrest Driver,True,16-30 Min,False,00:27:00,True
91708,2015-12-30,13:15,NaN,M,1992.0,23.0,White,Seatbelt Violation,Seat belt,True,Incident to Arrest,Arrest Passenger,True,16-30 Min,False,13:15:00,False

In [15]:
percentage = (arr['stop_date'].count() / df['stop_date'].count())*100
percentage

2.498337711601138

In [16]:
citation = df[((df['stop_outcome']) == 'Citation') & (((df['stop_time']) >= '18:00')&((df['stop_time']) <= '6:00'))]
citation

,stop_date,stop_time,county_name,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop,stop_hour,is_weekend
2,2005-01-23,23:15,NaN,M,1972.0,33.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False,23:15:00,True
11,2005-07-13,19:00,NaN,F,1966.0,39.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False,19:00:00,False
12,2005-07-14,19:55,NaN,M,1979.0,26.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False,19:55:00,False
13,2005-07-18,19:30,NaN,F,1984.0,21.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False,19:30:00,False
14,2005-07-18,19:45,NaN,M,1969.0,36.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False,19:45:00,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91733,2015-12-31,19:55,NaN,F,1974.0,41.0,White,Registration Violation,Registration/plates,False,NaN,Citation,False,0-15 Min,False,19:55:00,False
91734,2015-12-31,20:20,NaN,M,1993.0,22.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False,20:20:00,False
91735,2015-12-31,20:25,NaN,M,1992.0,23.0,Hispanic,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False,20:25:00,False
91739,2015-12-31,21:42,NaN,M,1993.0,22.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False,21:42:00,False
91740,2015-12-31,22:46,NaN,M,1959.0,56.0,Hispanic,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False,22:46:00,False

## Unique Drivers

In [18]:
df['driver_race'].unique()

array(['White', 'Black', 'Asian', nan, 'Hispanic', 'Other'], dtype=object)

In [19]:
df['driver_race'].value_counts()

driver_race
White       62158
Black       12244
Hispanic     9507
Asian        2259
Other         240
Name: count, dtype: int64

In [20]:
df['driver_race'].value_counts(normalize=True)*100

driver_race
White       71.935469
Black       14.169984
Hispanic    11.002453
Asian        2.614341
Other        0.277752
Name: proportion, dtype: float64

In [21]:
violation_grp = df.groupby(['violation'])

In [22]:
drv_mean = violation_grp['driver_age'].mean()
stop_count = violation_grp['stop_date'].count()

In [23]:
grouping = pd.DataFrame({'average_age': drv_mean, 'total_stops': stop_count})
grouping

                     average_age  total_stops
violation
Equipment              31.781503        11020
Moving violation       36.120020        16224
Other                  39.536870         4317
Registration/plates    32.803035         3432
Seat belt              32.206301         2952
Speeding               33.530097        48463

## Impute missing values

In [25]:
df.fillna(value={'county_name': 'Rhode Island', 'search_type': 'None'}, inplace=True)

In [26]:
df.dropna(subset=['driver_age', 'stop_time'], inplace=True)
df

,stop_date,stop_time,county_name,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop,stop_hour,is_weekend
0,2005-01-02,01:55,Rhode Island,M,1985.0,20.0,White,Speeding,Speeding,False,None,Citation,False,0-15 Min,False,01:55:00,True
1,2005-01-18,08:15,Rhode Island,M,1965.0,40.0,White,Speeding,Speeding,False,None,Citation,False,0-15 Min,False,08:15:00,False
2,2005-01-23,23:15,Rhode Island,M,1972.0,33.0,White,Speeding,Speeding,False,None,Citation,False,0-15 Min,False,23:15:00,True
3,2005-02-20,17:15,Rhode Island,M,1986.0,19.0,White,Call for Service,Other,False,None,Arrest Driver,True,16-30 Min,False,17:15:00,True
4,2005-03-14,10:00,Rhode Island,F,1984.0,21.0,White,Speeding,Speeding,False,None,Citation,False,0-15 Min,False,10:00:00,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91736,2015-12-31,20:27,Rhode Island,M,1986.0,29.0,White,Speeding,Speeding,False,None,Warning,False,0-15 Min,False,20:27:00,False
91737,2015-12-31,20:35,Rhode Island,F,1982.0,33.0,White,Equipment/Inspection Violation,Equipment,False,None,Warning,False,0-15 Min,False,20:35:00,False
91738,2015-12-31,20:45,Rhode Island,M,1992.0,23.0,White,Other Traffic Violation,Moving violation,False,None,Warning,False,0-15 Min,False,20:45:00,False
91739,2015-12-31,21:42,Rhode Island,M,1993.0,22.0,White,Speeding,Speeding,False,None,Citation,False,0-15 Min,False,21:42:00,False
91740,2015-12-31,22:46,Rhode Island,M,1959.0,56.0,Hispanic,Speeding,Speeding,False,None,Citation,False,0-15 Min,False,22:46:00,False

## Export the data

In [28]:
arr.to_csv('datas/arrested_non_speeding_drivers.csv')