In [1]:
import pandas as pd

## Read the dataset

In [3]:
df = pd.read_csv('../../../sample_data/popular_songs.csv', encoding='latin-1')

In [4]:
df.head(5)

,track_name,artist(s)_name,artist_count,released_year,released_month,released_day,in_spotify_playlists,in_spotify_charts,streams,in_apple_playlists,...,bpm,key,mode,danceability_%,valence_%,energy_%,acousticness_%,instrumentalness_%,liveness_%,speechiness_%
0,Seven (feat. Latto) (Explicit Ver.),"Latto, Jung Kook",2,2023,7,14,553,147,141381703,43,...,125,B,Major,80,89,83,31,0,8,4
1,LALA,Myke Towers,1,2023,3,23,1474,48,133716286,48,...,92,C#,Major,71,61,74,7,0,10,4
2,vampire,Olivia Rodrigo,1,2023,6,30,1397,113,140003974,94,...,138,F,Major,51,32,53,17,0,31,6
3,Cruel Summer,Taylor Swift,1,2019,8,23,7858,100,800840817,116,...,170,A,Major,55,58,72,11,0,11,15
4,WHERE SHE GOES,Bad Bunny,1,2023,5,18,3133,50,303236322,84,...,144,A,Minor,65,23,80,14,63,11,6

In [5]:
df.isnull().sum()

track_name               0
artist(s)_name           0
artist_count             0
released_year            0
released_month           0
released_day             0
in_spotify_playlists     0
in_spotify_charts        0
streams                  0
in_apple_playlists       0
in_apple_charts          0
in_deezer_playlists      0
in_deezer_charts         0
in_shazam_charts        50
bpm                      0
key                     95
mode                     0
danceability_%           0
valence_%                0
energy_%                 0
acousticness_%           0
instrumentalness_%       0
liveness_%               0
speechiness_%            0
dtype: int64

In [6]:
df.iloc[0::,0:3]

                              track_name      artist(s)_name  artist_count
0    Seven (feat. Latto) (Explicit Ver.)    Latto, Jung Kook             2
1                                   LALA         Myke Towers             1
2                                vampire      Olivia Rodrigo             1
3                           Cruel Summer        Taylor Swift             1
4                         WHERE SHE GOES           Bad Bunny             1
..                                   ...                 ...           ...
948                         My Mind & Me        Selena Gomez             1
949            Bigger Than The Whole Sky        Taylor Swift             1
950                 A Veces (feat. Feid)  Feid, Paulo Londra             2
951                        En La De Ella  Feid, Sech, Jhayco             3
952                                Alone           Burna Boy             1

[953 rows x 3 columns]

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 953 entries, 0 to 952
Data columns (total 24 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   track_name            953 non-null    object
 1   artist(s)_name        953 non-null    object
 2   artist_count          953 non-null    int64
 3   released_year         953 non-null    int64
 4   released_month        953 non-null    int64
 5   released_day          953 non-null    int64
 6   in_spotify_playlists  953 non-null    int64
 7   in_spotify_charts     953 non-null    int64
 8   streams               953 non-null    object
 9   in_apple_playlists    953 non-null    int64
 10  in_apple_charts       953 non-null    int64
 11  in_deezer_playlists   953 non-null    object
 12  in_deezer_charts      953 non-null    int64
 13  in_shazam_charts      903 non-null    object
 14  bpm                   953 non-null    int64
 15  key                   858 non-null    object
 16  mode                  953 non-null    object
 17  danceability_%        953 non-null    int64
 18  valence_%             953 non-null    int64
 19  energy_%              953 non-null    int64
 20  acousticness_%        953 non-null    int64
 21  instrumentalness_%    953 non-null    int64
 22  liveness_%            953 non-null    int64
 23  speechiness_%         953 non-null    int64
dtypes: int64(17), object(7)
memory usage: 178.8+ KB

## Missing values

In [9]:
df.isna().sum()

track_name               0
artist(s)_name           0
artist_count             0
released_year            0
released_month           0
released_day             0
in_spotify_playlists     0
in_spotify_charts        0
streams                  0
in_apple_playlists       0
in_apple_charts          0
in_deezer_playlists      0
in_deezer_charts         0
in_shazam_charts        50
bpm                      0
key                     95
mode                     0
danceability_%           0
valence_%                0
energy_%                 0
acousticness_%           0
instrumentalness_%       0
liveness_%               0
speechiness_%            0
dtype: int64

## Filtering songs

In [11]:
df['streams'] = pd.to_numeric(df['streams'], errors='coerce')

In [12]:
more_than = df['streams'] > 10000000
more_than

0      True
1      True
2      True
3      True
4      True
       ...
948    True
949    True
950    True
951    True
952    True
Name: streams, Length: 953, dtype: bool

In [13]:
artist_counts = df['artist_count'] >= 3
artist_counts

0      False
1      False
2      False
3      False
4      False
       ...
948    False
949    False
950    False
951     True
952    False
Name: artist_count, Length: 953, dtype: bool

In [14]:
summer = ((df['released_year']==2023) & ((df['released_month']>=6)&(df['released_day']>=21)) | ((df['released_month']>=7)&(df['released_month']<=8)))
summer.head(10)

0     True
1    False
2     True
3     True
4    False
5    False
6    False
7     True
8    False
9    False
dtype: bool

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 953 entries, 0 to 952
Data columns (total 24 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   track_name            953 non-null    object
 1   artist(s)_name        953 non-null    object
 2   artist_count          953 non-null    int64
 3   released_year         953 non-null    int64
 4   released_month        953 non-null    int64
 5   released_day          953 non-null    int64
 6   in_spotify_playlists  953 non-null    int64
 7   in_spotify_charts     953 non-null    int64
 8   streams               952 non-null    float64
 9   in_apple_playlists    953 non-null    int64
 10  in_apple_charts       953 non-null    int64
 11  in_deezer_playlists   953 non-null    object
 12  in_deezer_charts      953 non-null    int64
 13  in_shazam_charts      903 non-null    object
 14  bpm                   953 non-null    int64
 15  key                   858 non-null    object
 16  mode                  953 non-null    object
 17  danceability_%        953 non-null    int64
 18  valence_%             953 non-null    int64
 19  energy_%              953 non-null    int64
 20  acousticness_%        953 non-null    int64
 21  instrumentalness_%    953 non-null    int64
 22  liveness_%            953 non-null    int64
 23  speechiness_%         953 non-null    int64
dtypes: float64(1), int64(17), object(6)
memory usage: 178.8+ KB

In [16]:
top10 = df.sort_values(by='streams', ascending=False)
spotify_pls = (top10['in_apple_playlists']>top10['in_spotify_charts'])
spotify_pls

55      True
179     True
86      True
620     True
41      True
       ...
142    False
144    False
393     True
123    False
574     True
Length: 953, dtype: bool

## Calculating columns

In [18]:
def to_date(row):
    year, month, day = row['released_year'], row['released_month'], row['released_day']
    date = f'{year}-{month}-{day}'
    return pd.to_datetime(date)

df['release_date'] = df[['released_year', 'released_month', 'released_day']].apply(to_date, axis=1)
df.head()

,track_name,artist(s)_name,artist_count,released_year,released_month,released_day,in_spotify_playlists,in_spotify_charts,streams,in_apple_playlists,...,key,mode,danceability_%,valence_%,energy_%,acousticness_%,instrumentalness_%,liveness_%,speechiness_%,release_date
0,Seven (feat. Latto) (Explicit Ver.),"Latto, Jung Kook",2,2023,7,14,553,147,141381703.0,43,...,B,Major,80,89,83,31,0,8,4,2023-07-14
1,LALA,Myke Towers,1,2023,3,23,1474,48,133716286.0,48,...,C#,Major,71,61,74,7,0,10,4,2023-03-23
2,vampire,Olivia Rodrigo,1,2023,6,30,1397,113,140003974.0,94,...,F,Major,51,32,53,17,0,31,6,2023-06-30
3,Cruel Summer,Taylor Swift,1,2019,8,23,7858,100,800840817.0,116,...,A,Major,55,58,72,11,0,11,15,2019-08-23
4,WHERE SHE GOES,Bad Bunny,1,2023,5,18,3133,50,303236322.0,84,...,A,Minor,65,23,80,14,63,11,6,2023-05-18

In [19]:
def calculate_stream_percentage(df):
    max_streams = df['streams'].max() 
    df['stream_percentage'] = (df['streams'] / max_streams) * 100
    return df


df = calculate_stream_percentage(df)
df.head()

,track_name,artist(s)_name,artist_count,released_year,released_month,released_day,in_spotify_playlists,in_spotify_charts,streams,in_apple_playlists,...,mode,danceability_%,valence_%,energy_%,acousticness_%,instrumentalness_%,liveness_%,speechiness_%,release_date,stream_percentage
0,Seven (feat. Latto) (Explicit Ver.),"Latto, Jung Kook",2,2023,7,14,553,147,141381703.0,43,...,Major,80,89,83,31,0,8,4,2023-07-14,3.817109
1,LALA,Myke Towers,1,2023,3,23,1474,48,133716286.0,48,...,Major,71,61,74,7,0,10,4,2023-03-23,3.610153
2,vampire,Olivia Rodrigo,1,2023,6,30,1397,113,140003974.0,94,...,Major,51,32,53,17,0,31,6,2023-06-30,3.779912
3,Cruel Summer,Taylor Swift,1,2019,8,23,7858,100,800840817.0,116,...,Major,55,58,72,11,0,11,15,2019-08-23,21.621585
4,WHERE SHE GOES,Bad Bunny,1,2023,5,18,3133,50,303236322.0,84,...,Minor,65,23,80,14,63,11,6,2023-05-18,8.186958

In [20]:
def perc_playlist(df):
    total = df['in_spotify_playlists']+df['in_apple_playlists']
    df['spotify_percentage'] = (df['in_spotify_playlists']/total)*100
    return df

df = perc_playlist(df)
df.head()

,track_name,artist(s)_name,artist_count,released_year,released_month,released_day,in_spotify_playlists,in_spotify_charts,streams,in_apple_playlists,...,danceability_%,valence_%,energy_%,acousticness_%,instrumentalness_%,liveness_%,speechiness_%,release_date,stream_percentage,spotify_percentage
0,Seven (feat. Latto) (Explicit Ver.),"Latto, Jung Kook",2,2023,7,14,553,147,141381703.0,43,...,80,89,83,31,0,8,4,2023-07-14,3.817109,92.785235
1,LALA,Myke Towers,1,2023,3,23,1474,48,133716286.0,48,...,71,61,74,7,0,10,4,2023-03-23,3.610153,96.846255
2,vampire,Olivia Rodrigo,1,2023,6,30,1397,113,140003974.0,94,...,51,32,53,17,0,31,6,2023-06-30,3.779912,93.695506
3,Cruel Summer,Taylor Swift,1,2019,8,23,7858,100,800840817.0,116,...,55,58,72,11,0,11,15,2019-08-23,21.621585,98.545272
4,WHERE SHE GOES,Bad Bunny,1,2023,5,18,3133,50,303236322.0,84,...,65,23,80,14,63,11,6,2023-05-18,8.186958,97.388872

## Grouping

In [22]:
copied_spotify = df.copy()
copied_spotify['artist(s)_name'] = copied_spotify['artist(s)_name'].apply(lambda x: x.split(',')[0])
copied_spotify['artist(s)_name']

0               Latto
1         Myke Towers
2      Olivia Rodrigo
3        Taylor Swift
4           Bad Bunny
            ...
948      Selena Gomez
949      Taylor Swift
950              Feid
951              Feid
952         Burna Boy
Name: artist(s)_name, Length: 953, dtype: object

In [23]:
df.head()

,track_name,artist(s)_name,artist_count,released_year,released_month,released_day,in_spotify_playlists,in_spotify_charts,streams,in_apple_playlists,...,danceability_%,valence_%,energy_%,acousticness_%,instrumentalness_%,liveness_%,speechiness_%,release_date,stream_percentage,spotify_percentage
0,Seven (feat. Latto) (Explicit Ver.),"Latto, Jung Kook",2,2023,7,14,553,147,141381703.0,43,...,80,89,83,31,0,8,4,2023-07-14,3.817109,92.785235
1,LALA,Myke Towers,1,2023,3,23,1474,48,133716286.0,48,...,71,61,74,7,0,10,4,2023-03-23,3.610153,96.846255
2,vampire,Olivia Rodrigo,1,2023,6,30,1397,113,140003974.0,94,...,51,32,53,17,0,31,6,2023-06-30,3.779912,93.695506
3,Cruel Summer,Taylor Swift,1,2019,8,23,7858,100,800840817.0,116,...,55,58,72,11,0,11,15,2019-08-23,21.621585,98.545272
4,WHERE SHE GOES,Bad Bunny,1,2023,5,18,3133,50,303236322.0,84,...,65,23,80,14,63,11,6,2023-05-18,8.186958,97.388872

In [24]:
artist_grp = copied_spotify.groupby('artist(s)_name')

In [25]:
artist_grp['streams'].apply(lambda x: x.sort_values(ascending=False)).sort_values(ascending=False)

artist(s)_name
The Weeknd         55     3.703895e+09
Ed Sheeran         179    3.562544e+09
Lewis Capaldi      86     2.887242e+09
Tones and I        620    2.864792e+09
Post Malone        41     2.808097e+09
                              ...
Mc Pedrinho        142    1.195664e+07
Sog                144    1.159939e+07
Arijit Singh       393    1.365184e+06
Carin Leon         123    2.762000e+03
Edison Lighthouse  574             NaN
Name: streams, Length: 953, dtype: float64

In [35]:
split_artists = df['artist(s)_name'].str.split(',')
all_aritsts = [name.strip() for record in split_artists for name in record]
artists = pd.Series(all_aritsts).value_counts()
artists

Bad Bunny         40
Taylor Swift      38
The Weeknd        37
SZA               23
Kendrick Lamar    23
                  ..
Shilpa Rao         1
Conan Gray         1
La Joaqui          1
Steve Aoki         1
Selena Gomez       1
Name: count, Length: 699, dtype: int64

# Creating a report file

In [38]:
songs = df['track_name']
report_df = pd.DataFrame({'track_name': songs,'more_than_10M_streams':more_than, 'three_or_more_artist':artist_counts, 'Summer':summer, 'top10_more_in_spotify_than_apple':spotify_pls})
report_df

,track_name,more_than_10M_streams,three_or_more_artist,Summer,top10_more_in_spotify_than_apple
0,Seven (feat. Latto) (Explicit Ver.),True,False,True,False
1,LALA,True,False,False,False
2,vampire,True,False,True,False
3,Cruel Summer,True,False,True,True
4,WHERE SHE GOES,True,False,False,True
...,...,...,...,...,...
948,My Mind & Me,True,False,False,True
949,Bigger Than The Whole Sky,True,False,False,True
950,A Veces (feat. Feid),True,False,False,True
951,En La De Ella,True,True,False,True
952,Alone,True,False,False,True

In [40]:
merged_df = df.merge(report_df, how='left', on='track_name')
merged_df

,track_name,artist(s)_name,artist_count,released_year,released_month,released_day,in_spotify_playlists,in_spotify_charts,streams,in_apple_playlists,...,instrumentalness_%,liveness_%,speechiness_%,release_date,stream_percentage,spotify_percentage,more_than_10M_streams,three_or_more_artist,Summer,top10_more_in_spotify_than_apple
0,Seven (feat. Latto) (Explicit Ver.),"Latto, Jung Kook",2,2023,7,14,553,147,141381703.0,43,...,0,8,4,2023-07-14,3.817109,92.785235,True,False,True,False
1,LALA,Myke Towers,1,2023,3,23,1474,48,133716286.0,48,...,0,10,4,2023-03-23,3.610153,96.846255,True,False,False,False
2,vampire,Olivia Rodrigo,1,2023,6,30,1397,113,140003974.0,94,...,0,31,6,2023-06-30,3.779912,93.695506,True,False,True,False
3,Cruel Summer,Taylor Swift,1,2019,8,23,7858,100,800840817.0,116,...,0,11,15,2019-08-23,21.621585,98.545272,True,False,True,True
4,WHERE SHE GOES,Bad Bunny,1,2023,5,18,3133,50,303236322.0,84,...,63,11,6,2023-05-18,8.186958,97.388872,True,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
968,My Mind & Me,Selena Gomez,1,2022,11,3,953,0,91473363.0,61,...,0,8,3,2022-11-03,2.469653,93.984221,True,False,False,True
969,Bigger Than The Whole Sky,Taylor Swift,1,2022,10,21,1180,0,121871870.0,4,...,1,12,6,2022-10-21,3.290370,99.662162,True,False,False,True
970,A Veces (feat. Feid),"Feid, Paulo Londra",2,2022,11,3,573,0,73513683.0,2,...,0,8,6,2022-11-03,1.984767,99.652174,True,False,False,True
971,En La De Ella,"Feid, Sech, Jhayco",3,2022,10,20,1320,0,133895612.0,29,...,0,12,5,2022-10-20,3.614995,97.850259,True,True,False,True
972,Alone,Burna Boy,1,2022,11,4,782,2,96007391.0,27,...,0,11,5,2022-11-04,2.592066,96.662546,True,False,False,True

In [48]:
merged_df.to_csv('datas/spotify_data.csv', index=False)

In [50]:
merged_df.to_excel('datas/spotify_data.xlsx', index=False)